<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">LAUCHING PAGE</h1>
    <p class="lead">Click on login or register </p>
    <hr>
    <a class="btn btn-warning btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
